body {
    text-align: center;
    background: linear-gradient(0deg, #000000, #08142c, #06183c);
    background-size: 100% 150%;
}

h1 {
    color: rgb(201, 201, 201);
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
}

canvas {
    border: 1px solid rgb(0, 0, 0);
    margin: 8px;
}

footer {
    color: rgb(177, 177, 177);
    font-size: 16px;
}